@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    font-family: Roboto;
    min-width: 100%;
}

#weathericon {
    display: inline-block;
    vertical-align: top;
}

main {
    display: inline-block;
}

.discover-main div {
    display: flex;
    flex-flow: column;
}

.discover-main img[data-src] {
    filter: blur(0.1em);
    opacity: 25%;
}

.discover-main img {
    filter: blur(0em);
    opacity: 1;
    transition: all 500ms ease-in;
}

.discover-main {
    display: flex;
    flex-flow: column;
}

.directory {
    grid-template-columns: none;
}

.toggle {
    align-self: center;
}

.button-img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.card-image {
    display: none;
    width: 10em;
}

.display {
    display: block;
}

.cards-list {
    grid-template-columns: 1fr;
}

.card-div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.social {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    position: relative;
    grid-column: 3/4;
}

.logo-box {
    display: grid;
    grid-auto-flow: column;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    text-align: right;
}

header {
    display: grid;
    grid-auto-flow: column;
    background-color: #3D3D3D;
    color: orange;
    text-align: center;
}

header:hover {
    background: rgba(61, 61, 61, 0.8);
}

.sub-header {
    font-size: 20px;
    grid-column: 2/3;
    text-align: right;
}

body {
    background-color: #1e81b0;
}

main {
    display: grid;
    grid-gap: 3em;
    grid-auto-rows: fit-content(10em);
    text-shadow: 2px 3px 5px black;
    color: white;
    padding: 1em;
    transition: all 1s ease-in-out;
}

main div {
    text-align: center;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 100%;
}

main div:hover {
    background: rgba(61, 61, 61, 0.5);
}

main div img:hover {
    opacity: 0.8;
}

.main-title {
    font-size: 25px;
    text-align: left;
}

.member-des {
    flex: 1;
    color: black;
    background-color: #3D3D3D;
    margin: 20px;
}

a {
    color: #17B5DE;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    font-size: 1.5rem;
}

.logo-box img {
    height: 50px;
}

header img {
    width: 75px;
    padding: 1em;
    border-radius: 75%;
}

p {
    color: white;
}

h2,
h3 {
    color: orange;
}

header nav {
    padding: 1.5em;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 0;
    opacity: 0;
    transition: all 500ms ease-in-out;
    position: relative;
}

form,
form div,
form div:hover,
form textarea {
    display: flex;
    flex-flow: column;
    background: none;
    color: white;
    margin-top: 20px;
    text-align: left;
}

.textarea {
    margin-left: 1.5rem;
}

form div div,
form div div:hover {
    flex-flow: row;
}

form button {
    font-size: 14px;
    padding: 0;
    width: 20rem;
    text-align: center;
    background-color: #3D3D3D;
    margin-bottom: 30px;
    margin-left: 1.5rem;
}

input {
    display: flex;
    flex-flow: row;
    background-color: inherit;
    margin: .4rem;
}


form label.top {
    display: block;
    background-color: inherit;
    padding: 1rem;
}

form label.top input,
form label.top select {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    color: white;
}

main div.thanks {
    grid-column: 1/4;
    line-height: 30rem;
}

button {
    border: none;
    background: none;
    color: inherit;
    font-size: 20px;
    text-align: left;
    width: 30px;
    height: 30px;
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: orange;
    font-size: 1.5rem;
}

nav div:hover {
    background-color: gray;
    margin-top: 5px;
    transition: margin 500ms ease-in-out;
}

ul {
    color: white;
}

footer {
    color: white;
    background-color: #3D3D3D;
    text-align: center;
    font-size: 1.2rem;
}

.event {
    grid-row: 1 / 2;
}

.weather {
    grid-row: 2 / 3;
}

.action {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
}

.action img {
    height: 100%;
    width: 100%;
    position: relative;
}

.action a {
    position: absolute;
    left: 35%;
    background: rgba(61, 61, 61, 0.8);
    padding: 1em;
    color: orange;
    font-size: 1.1rem;
    transition: all 500ms;
}

.action a:hover {
    background: rgba(61, 61, 61, 1);
    font-size: 1.2rem;
}

.spot-3 {
    display: none;
}

.join {
    display: none;
}

.news {
    grid-row: 4 / 5;
}

.responsive {
    display: grid;
    height: 100%;
    opacity: 1;
    background-color: #3D3D3D;
}

.responsive a:hover {
    margin-left: 10px;
    transition: margin-left 300ms;
}

button:hover {
    background-color: gray;
}

.current-date {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    text-align: center;
}

.social img {
    width: 20px;
    position: absolute;
    transition: width 800ms;
}

.social img:hover {
    width: 30px;
    transition: width 800ms;
}
           /* new styles for the third column */
        .third-column {
            grid-column: 1 / 4;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10em;
        }
        .third-column > div {
            background-color: #3b0c0c;
            padding: 0em;
        }
