@media only screen and (min-width: 830px) {
    header nav {
        opacity: 1;
        grid-column: 3 / 4;
        height: 0;
    }
    .social {
        grid-column: 4/5;
    }
    .event {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .weather {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .join {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .action {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    .news {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .spotlight {
        grid-row: 1 / 5;
        grid-column: 3 / 4;
    }
    .spot-3 {
        display: block;
    }
    nav {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        margin: 0 auto;
        text-align: center;
    }
    main {
        grid-gap: 1em;
    }
    header button {
        display: none;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards-list {
        grid-template-columns: 1fr;
    }

}