@media only screen and (min-width: 37.5em) {
    main div {
        margin-bottom: 1em;
        align-items: center;
    }
    header nav {
        grid-column: 1 / 2;
        padding: 1.5px;
        height: 0;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    .cards-list {
        grid-template-columns: 1fr;
    }
    .action {
        grid-column: 1 / 5;
    }
    .news {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }
    .event {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
    .spotlight {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
    }
    .join {
        display: block;
        grid-row: 4 / 5;
        grid-column: 1 / 5;
    }
    .weather {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
    }
    .discover-main div:hover {
        transition: all 500ms ease-in-out;
        opacity: 1;
        height: 100%;
    }

    

    
}
  
    
