@keyframes radialGradient {
    from {
        width: 400px;
        height: 400px;
        left: -100px;
    }
    to {
        width: 700px;
        height: 700px;
        left: 500px;
    }
}

@keyframes footerRadial {
    0% {
        width: 900px;
        height: 900px;
        right: 0px;
        bottom: 0;
    }
    40% {
        right: 80%;
        bottom: -40px;
    }
    70% {
        right: 0;
        bottom: 60px;
    }
    100% {
        width: 600px;
        height: 600px;
        right: 300px;
        bottom: -500px;
    }
}
